body {
    font-size: Arial, San-Serif;
    font-size: 100%;
}
.conteiner{
    margin: 0 auto;
    width: 960px;
}

header {
    padding: 50px;
    background-color: yellowgreen;
}

.header h1, 
.header h2 {
    color: greenyellow;
    text-align: center;
}

.page-navigation {
    background-color: #222;
    border-color: #101010;
    min-height: 64px;
}

.page-navigation li{
    float: left;
    width: 100px;
}

.page-navigation a{
    display: block;
    color: #9d9d9d;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
.page-navigation li a:hover{
    color: yellowgreen;
    background-color: black;
}
.login {
    padding: 15px 0;
    float: right;
}
.login input[type="text"],
.login input[type="password"]{
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
}
.login input[type="submit"] {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.login input[type="submit"]:hover{
    background-color: darkgray;
    color: white;
}